{
  "presets": [
    "stage-2",
    ["env", {
      "targets": {
        "chrome": 56,
        "edge": 14,
        "firefox": 52,
        "ie": 11,
        "ios": "10.2",
        "safari": 10
      }
    }]
  ]
}
